---
import { Close } from "../assets/icons";
import Logo from "../assets/Logo2.png";

type Props = {
  navLinks: {
    name: string;
    href: string;
    isCurrent?: boolean;
  }[];
};

const { navLinks } = Astro.props;
---

<div class="drawer drawer-end">
  <input id="drawer-toggle" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div
      class="sticky inset-y-0 -top-0.5 z-50 w-full navbar bg-dark text-light min-h-[70px]"
    >
      <div
        class="w-full max-w-7xl mx-auto border-b border-light/20 bg-dark min-h-[72px]"
      >
        <a
          href="/"
          class="grow px-2 flex items-center justify-start gap-2 mr-40"
        >
          <img class="w-24 h-16 object-cover" src={Logo} alt="logo" />
        </a>
        <div class="flex-none lg:hidden">
          <label for="drawer-toggle" class="btn btn-square btn-ghost">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-6 h-6 stroke-current"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </label>
        </div>
        <div class="grow hidden lg:block">
          <ul
            class="menu menu-horizontal w-full max-w-4xl drawer-end justify-between"
          >
            <!-- Navbar menu content here -->
            {
              navLinks.map((link) => (
                <li
                  class={
                    `font-semibold underline underline-offset-4 decoration-1 text-light  decoration-light ` +
                    (link.isCurrent
                      ? " text-secondary decoration-secondary"
                      : " hover:text-white hover:decoration-2 hover:decoration-slate-200")
                  }
                >
                  <a href={link.href}>{link.name}</a>
                </li>
              ))
            }
            <button class="btn-default"> Contact us</button>

            <!-- <ThemeSwitcher /> -->
          </ul>
        </div>
      </div>
    </div>
    <!-- Page content here -->
    <div class="relative grow">
      <slot />
    </div>
  </div>
  <div class="drawer-side">
    <label for="drawer-toggle" class="drawer-overlay backdrop-brightness-50"
    ></label>
    <ul class="menu p-4 w-80 bg-dark text-light">
      <!-- Sidebar content here -->
      <li class="flex items-center justify-between">
        <button
          aria-label="drawer-close"
          onclick="document.getElementById('drawer-toggle').checked = false"
          class="btn btn-square self-end"
        >
          <Close size={28} />
        </button>
      </li>

      <li onclick="document.getElementById('drawer-toggle').checked = false">
        <a class={`text-2xl my-4`} href={"/"}> Home</a>
      </li>

      {
        navLinks.map((link) => (
          <li onclick="document.getElementById('drawer-toggle').checked = false">
            <a
              class={
                `text-2xl my-4` + (link.isCurrent ? " text-secondary" : "")
              }
              href={link.href}
            >
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
