---
import type { CollectionEntry } from "astro:content";
import Drawer from "../components/Drawer.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
const navLinks = [
  { name: "Showcase", href: "/#showcase" },
  { name: "Services", href: "/#services" },
  { name: "About us", href: "/#about-us" },
  { name: "Blog", href: "/blog", isCurrent: true },
];
---

<BaseLayout title={title} description={description}>
  <Drawer navLinks={navLinks}>
    <div class="bg-dark text-white">
      <div class="fixed w-full bg-dark -mt-1 z-10 right-2">
        <div class="max-w-5xl mx-4 lg:mx-auto text-sm breadcrumbs mt-1">
          <ul>
            <li>
              <a class="link underline-offset-2 hover:decoration-2" href="/"
                >Home</a
              >
            </li>
            <li>
              <a href="/blog" class="link underline-offset-2 hover:decoration-2"
                >Blog</a
              >
            </li>
            <li class="text-secondary">{title}</li>
          </ul>
        </div>
      </div>

      <article
        class="max-w-5xl overflow-hidden mx-4 lg:mx-auto pt-16 prose prose-headings:underline prose-a:text-secondary"
      >
        {
          heroImage && (
            <img
              class="max-w-sm"
              width={720}
              height={360}
              src={heroImage}
              alt={title + " featured image"}
            />
          )
        }

        <slot />
      </article>
    </div>
    <Footer />
  </Drawer>
</BaseLayout>
